@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
color: white;
text-shadow: 1px 1px #000;
}

.container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
background: rgb(7, 162, 115);
}

img {
    width: 60px;
    height: auto;
}
